*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	padding: 30px;
}
.menu
{
	height: auto;
	width: 100%;
	border:1px solid;
	background-color: #81c408;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	border-radius: 30px 10px 30px 10px;
	font-size: 15px;
	font-family: sans-serif;
	color: #fff;
	margin: 5px;


}
.menulist1
{
	height: auto;
	width: 30%;
	/*background-color: pink;*/
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 5px;
	padding: 5px;
}
.icon1 
{

	font-size: 16px;
	
	display: flex;
	justify-content: space-evenly;
	align-items: center;

}
.menulist1 h4
{
	font-size: 14px;
}
.icon1 span
{
	/*background-color: red;*/
	color:#000000;
}
.menulist2
{
	height: auto;
	width: 30%;
	/*background-color: pink;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 5px;
	margin: 5px;
}
.menu2
{
	height: auto;
	width: 100%;
    /*border:1px solid;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
	height: auto;
	width: 15%;
	font-size: 30px;
	color:#81c408;
	font-family: sans-serif;
}
.menuitem
{
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	font-size: 18px;
}
.menuitem select
{
	border:none;
}
.logos
{
	width:10%;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	font-size: 30px;
	color: #81c408;
	margin: 5px;

}
.burger
{
	font-size: 18px;
	color: #81c408;
	display: none;

}
@media (max-width: 998px)
{
	.menuitem 
	{
		display: none;
	}
	.logos
	{
		display: none;
	}
	.burger
	{
		display: block;
		font-size: 30px;
		border: 1px solid;
		align-items: center;
		text-align: center;
	}
}
@media (max-width: 674px)
{
	.menu
	{
		display: none;
	}
}
@media (max-width: 412px)
{
	.burger
	{
		margin: 5px;
	}
	.logo
	{
		font-size: 18px;
	}
}

.container 
{
	height: auto;
	width: 100%;
	border:2px solid;


	/*background-color: red;*/
}
.container img
{
	height: 500px;
	width: 100%;
	background-position: center;
	/*z-index: 2;*/

}
.twoimage
{
	display: flex;
	margin-top: -440px;
	position: absolute;
	/*margin: 20px;*/
	justify-content: space-evenly;
	padding-top: 10px;
	/*margin-top: -90px;*/

}
.but
{
	height: auto;
	width: 40%;
	/*border:1px solid;*/
	/*margin-top: -400px;*/
	position: relative;
	margin-left: 50px;
	padding: 10px;
}
.heading1
{
	font-size: 20px;
	color: orange;

}
.heading2
{
	font-size: 30px;
   color: #81c408;

}
.search 
{
	display: flex;
}
.search input
{
	height: 60px;
	width: auto;
	font-size: 30px;
	border-radius: 30px 30px 30px 30px;
	border: 1px solid orange;
	align-items: center;
	/*text-align: center;*/
	padding: 7px;

}
.search button
{
	height: 60px;
	width: 170px;
	border-radius: 30px 30px 30px 30px;
	margin-left: -40px;
	font-size: 18px;
	border: 1px solid orange;
	 background-color: #81c408;
	 color: #fff;


}
.imageright
{
	height: auto;
	width: 40%;
	/*border:1px solid;*/
	/*margin-top: -400px;*/
	/*margin-left: 80px;*/
	padding: 10px;

}
.imageright img
{
	height: auto;
}
@media (max-width: 674px)
{
	.twoimage
	{
		display: flex;
		flex-direction: column;
		/*align-items: flex-end;*/
	}
	.container img 
	{
		background-position: center;
	}
}
@media (max-width: 412px)
{
	.search input
	{
		width: 150px;
	}
	.search button
	{

	}
	.but
	{
		width: 85%;
		margin: 12px;
	}
	.container 
	{
		height: 900px;
	}
	.imageright
	{
		width: 85%;
		padding: 5px;
		margin-top: 30px;
		margin: 12px;
		background-color: grey;
	}

	
	
}
 
